<div class="addProduct">
    <div class="container pt-5">
        <form action='/admin/add' method="POST" class="mt-5">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Category Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Category Name"
                    name="category">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>