<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img
                src="data:image/webp;base64,UklGRlICAABXRUJQVlA4TEYCAAAvqEAREMegqG0byN3BH/KeoyAQSPJHXGaBQBLP/n6radsIKn9g92O5m25OQvfgnq3FA4CBoQCABNt22zYiqQo197L/pWaAjw9M7xH9d+C2jSMpu9eLMjsl84XyH5WoKuSHC6lcyPeWTYtvv4yYxYntG8ZBOJGcZNQuwiSgMxhk1x6ryKTFJxExoqDFFmm1g9KzEhpl/0I49CvUBT7N0GhQWU7ViQ6zdh8qgGPC0tuXwOKmjFp9bZ6SRNHtbFmrF9NnhB/ubedazrrSECpCSA+fE9DgbtIn3qjuOfDSY97XForD9Kr2ScwmP6tv2Hd7EbF/N8Swiep0jCiUrmva/D1QTM5lPQ1a44SM2gaN5hP7Q961oqVr7T4np+ZOMb31sPc7MppOpfDgk5O2d5+PVTc48l1tpmt1m24/SgkDzIC0qzp/RqSS0QEjvELE6W3WlHRvzT4bUyWjAaOShXOdOOnRvpH4Q9l0uQjwIKRBe39xdJ/pRr7gG6vXTgHxPZucl1/36/X+TgZMCwuWoyeM45RBztceZxWPXMBE25DfdvBTMMh3t61KkTB/v88mXok1hrN0rcX69qfAotbMcg+KG6qyjq+Id8s9trOQQI1RO+UFEidrDOvUUP3QSEI1xs1yA3CRVLWNpBEYD94ctRIEpMeCuWYSMNwDdTB4w8maIFAHO0/y4PcPbeONhMv+RBDcWbzARz4D5TQ7iZz4vdqGhBbnqUtwr+b8UBrOHreZQR/b/To+ox7gR2zjLzMl/bxfLvdX+V9TlAI="
                alt=""></a>
        <div class="search_input col-lg-6">
            <form class="d-flex">
                {{!-- <select name="" id="" class="form-control">
                    <option value="">1</option>
                </select> --}}
                <input type="text" name="" id="" class="form-control search_input" placeholder="Search here"
                    onkeyup='sendData(this)'>
                <div id="searchResults"></div>
                <button class="form-control" type="submit">Search</button>
            </form>
        </div>
        <div class="col-lg-2 like_cart">
            <div class="like">
                <i class="far fa-heart"></i>
                Your Wishlist
            </div>
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
                Your Wishlist
            </div>
        </div>
    </div>
</nav>

<script>
    function sendData(e) {
        const searchResults = document.getElementById("searchResults");
        let match = e.value.match(/^[a-zA-Z]*/);
        let match2 = e.value.match(/\s*/);
        if (match2[0] === e.value) {
            searchResults.innerHTML = "";
            return;
        }
        if (match[0] === e.value) {
            fetch("getUsers", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    payload: e.value
                }),
            })
                .then((res) => res.json())
                .then((data) => {
                    let payload = data.payload;
                    searchResults.innerHTML = "";
                    if (payload.length < 1) {
                        searchResults.innerHTML =
                            "<p>Uzur. Bunday mahsulotni topa olmadim</p>";
                        return;
                    }

                    payload.forEach((item, index) => {
                        if (index > 0) searchResults.innerHTML += "<hr>";
                        searchResults.innerHTML += `<a href='/products/${item._id}'><img src="/images/${item.img}" />  ${item.name}</a>`;
                    });
                });
            return;
        }
        searchResults.innerHTML = "";
    }
</script>