<div class="navbar_top">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul>
                    <li><a href="tel:+998946239777"><span>
                                <i class="fas fa-phone-alt"></i>
                            </span> +998946239777</a></li>
                    <li><a href="mailto:jamoliddindev@gmail.com"><span>
                                <i class="far fa-envelope"></i>
                            </span> jamoliddindev@gmail.com</a></li>
                    <li><a href="distric"><span>
                                <i class="fas fa-map-marker-alt"></i>
                            </span> Uzbekistan</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    <li><a href="/">
                            <span>
                                <i class="fas fa-dollar-sign"></i>
                            </span>
                            USD</a></li>
                    <li><a href="/account">
                            <span>
                                <i class="far fa-user"></i>
                            </span>
                            My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>