<div class="container pt-5 pb-5 more_container">
    <div class="row">
        <div class="col-lg-6">
            <img src="/images/{{data.img}}" id="zoom_1" />
        </div>
        <div class="col-lg-6 more_in_prod">
            <h2>{{data.name}}</h2>
            <h1>{{data.price}}</h1>
            <h4>{{data.more}}</h4>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-1.8.3.min.js"></script>
<script src="/javascripts/jquery.elevateZoom-3.0.8.min.js"></script>
<script src="/javascripts/jquery.elevatezoom.js"></script>
<script src="/javascripts/main.js"></script>